body,html{
    background: url("../images/bg.png") #B6DDF4 0 0 repeat;
    background-size: 100% auto;
}

.info-list{
    padding-top: 34px;
}
.info-box{
    display: block;
    width: 280px;
    height: 90px;
    background: url("../images/data_time_bg.png") center no-repeat;
    background-size: 100% auto;
    margin:0 auto 20px;
    position: relative;
}
.info-box .info-name{
    font-size: 18px;
    color: #5B6871;
    position: absolute;
    top: -4px;
    left: 26px;
}
.info-box .info-content{
    display: block;
    width: 100%;
    background: transparent;
    text-align: center;
    position: relative;
    top: 35px;
}
.time-numb{
    display: block;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 8px;
}
.time-cn{
    display: block;
    text-align: center;
}

.map-box{
    display: block;
    width: 100%;
    background: url("../images/map_img.png") center no-repeat;
    background-size: 371px auto;
    height: 265px;
}


.join-btn{
    display: block;
    width: 316px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    margin: 0 auto;
    background: url("../images/join_btn_bg.png") center no-repeat;
    background-size: 100% auto;
    color: #fff;
    font-size: 16px;
}