.detail-pic-box {
    position: relative;
}
.detail-pic-box img{
    display: block;
    width: 100%;
}
.on-img-tag-box{
    background: transparent;
    position: absolute;
    top: 50px;
    left: 50px;
    color: #fff;
    font-size: 13px;
    opacity: 0;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
}
.show-tag .on-img-tag-box{
    opacity: 1;
}
.point-and-line{
    font-size: 0;
    position: relative;
    height: 5px;
    line-height: 5px;
}
.point-center{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 2px #000 ;
    position: relative;
    z-index: 10;
    vertical-align: middle;
}
.white-line{
    display: inline-block;
    width: 20px;
    height: 1px;
    background: #fff;
    box-shadow: 0 1px 2px #000 ;
    z-index: 9;
    position: relative;
    vertical-align: middle;
    border-radius: 5px;

}
.line-style-1{
}

.tag-info{
    font-size: 0;
    height: 18px;
}
.tag-icon{
    display: inline-block;
    width: 18px; 
    height: 18px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 2px #555 ;
    vertical-align: middle;
}
.tag-icon img{
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0;
}
.category-style-name{
    text-shadow: 0 1px 2px #111;
    vertical-align: middle;
    font-size: 13px;
    margin-left: 5px;
}
.category-brand-name{
    text-shadow: 0 1px 2px #111;
    vertical-align: middle;
    font-size: 13px;
    margin-left: 7px;
}
.dire-left .tag-icon{
    margin-left: 0;
    margin-right: 5px;
}
.dire-left .category-style-name{
    margin-left: 0;
    margin-right: 7px;
}
.dire-left .category-brand-name{
    margin-left: 0;
}
.tag-money{
    font-size: 0;
    
    display: inline-block;
}
.money-numb{
    font-size: 13px;
    margin-right: 4px;
    text-shadow: 0 1px 2px #111;
    height: 16px;
    line-height: 16px;
}
.money-unit{
    font-size: 13px;
    text-shadow: 0 1px 2px #111;
    height: 16px;
    line-height: 16px;
}
.buy-mothod{
    font-size: 0;
    display: inline-block;
}
.buy-country{
    height: 16px;
    line-height: 16px;
    margin-right: 8px;
    font-size: 13px;
    text-shadow: 0 1px 2px #111;
}
.buy-link{
    height: 16px;
    line-height: 16px;
    padding-right: 16px;
    background: url(../images/link_icon.png) right center no-repeat;
    background-size: 16px auto;
    font-size: 13px;
    text-shadow: 0 1px 2px #111;
}

.dire-right .point-and-line{
    float: right;
}
.dire-left .point-and-line{
    float: left;
}
.dire-right .tag-info{
    float: right;
}
.dire-left .tag-info{
    float: left;
}
.point-and-line .line-style-2{
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
}
.point-and-line .line-style-3{
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
}
.tag-style-brand{
    display: inline-block;
}







.tag-type-1{
    height: 18px;
    top: 0;
    left: 0;
}
.tag-type-1.dire-left .point-and-line {
    margin-right: 2px;
}
.tag-type-1.dire-left .point-and-line .white-line{
    top: 8px;
    left: -1px;
}
.tag-type-1.dire-left .point-and-line .point-center{
    float: left;
}
.tag-type-1.dire-left .point-and-line .white-line{
    float: left;
}
.tag-type-1 .point-and-line .point-center{
    top: 6px;
}
.tag-type-1.dire-right .point-and-line {
    margin-left: 2px;
}
.tag-type-1.dire-right .point-and-line .white-line{
    top: 8px;
    left: 1px;
}
.tag-type-1.dire-right .point-and-line .point-center{
    float: right;
}
.tag-type-1.dire-right .point-and-line .white-line{
    float: right;
}







.tag-type-2{
    top: 130px;
}
.tag-type-2 .point-and-line{
    width: 20px;
}
.tag-type-2 .category-brand{
    margin-bottom: 14px;
}
/* sin45° * 20 = 17 */
.tag-type-2.dire-left .point-and-line .line-style-2{
    position: absolute;
    top: -6px;
    left: 0px;
}
.tag-type-2.dire-left .point-and-line .line-style-3{
    
    position: absolute;
    top: 10px;
    left: 0px;
}
.tag-type-2.dire-right .point-and-line{
    text-align: right;
}
.tag-type-2.dire-right .tag-info{
    text-align: right;
}
/* sin45° * 20 = 17 */
.tag-type-2.dire-right .point-and-line .line-style-3{
    
    position: absolute;
    top: -6px;
    right: 0px;
}
.tag-type-2.dire-right .point-and-line .line-style-2{
    position: absolute;
    top: 10px;
    right: 0px;
}

.tag-type-2 .tag-money{
    display: block;
    margin-bottom: 13px;
}
.tag-type-2 .tag-style-brand{
    margin-bottom: 13px;
}
.tag-type-2 .buy-mothod{
    display: block;
}
.tag-type-2 .tag-info{
    position: relative;
    top: -22px;
}



.tag-type-3{
    top: 230px;
}
.tag-type-3.dire-left  .point-and-line{
    width: 20px;
    padding-left: 20px;
    margin-left: 2px
}
.tag-type-3.dire-left .line-style-1{
    position: absolute;
    top: 2px;
    left: 1px;
}
/* sin45° * 20 = 17 */
.tag-type-3.dire-left .point-and-line .line-style-2{
    
    position: absolute;
    top: -6px;
    left: 19px;
    margin-left: 2px;
}
.tag-type-3.dire-left .point-and-line .line-style-3{
    
    position: absolute;
    top: 10px;
    left: 20px;
}

.tag-type-3.dire-right .tag-info{
    text-align: right;
}
.tag-type-3.dire-right  .point-and-line{
    text-align: left;
    width: 25px;
    padding-left: 15px;
    margin-right: 2px;
}
.tag-type-3.dire-right .line-style-1{
    position: absolute;
    top: 2px;
    left: 20px;
}
/* sin45° * 20 = 17 */
.tag-type-3.dire-right .point-and-line .line-style-3{
    position: absolute;
    top: -6px;
    left: 0px;
}
.tag-type-3.dire-right .point-and-line .line-style-2{
    
    position: absolute;
    top: 10px;
    left: 0px;
}

.tag-type-3 .tag-money{
    display: block;
    margin-bottom: 13px;
}
.tag-type-3 .buy-mothod{
    display: block;
}
.tag-type-3 .tag-info{
    position: relative;
    top: -22px;
}
.tag-type-3 .info-style-1{
    top: -6px;
}





.tag-type-4{
    top: 350px;
}
.tag-type-4 .line-style-4{
    height: 60px;
    width: 1px;
    position: absolute;
    top: -27px;
    z-index: 11;
}
.tag-type-4.dire-left  .point-and-line{
     width: 22px;
     margin-right: 5px;
}
.tag-type-4.dire-left .tag-style-brand{
    margin-bottom: 14px;
}
.tag-type-4.dire-left .line-style-1{
    position: absolute;
    top: 2px;
    left: 1px;
}
.tag-type-4.dire-left .point-and-line .line-style-4{
    left: 15px;
}
.tag-type-4.dire-left .point-and-line .line-style-5{
    position: absolute;
    width: 5px;
    z-index: 9;
    top: -27px;
    left: 15px;
}
.tag-type-4.dire-left .point-and-line .line-style-6{
    position: absolute;
    width: 5px;
    z-index: 9;
    top: 32px;
    left: 15px;
}
.tag-type-4.dire-left .point-and-line .line-style-7{
    position: absolute;
    top: 2px;
    left: 1px;
    box-shadow: none;
    z-index: 12;
}
.tag-type-4.dire-left .point-and-line .line-style-8{
    position: absolute;
    width: 5px;
    z-index: 13;
    top: -27px;
    left: 15px;
    box-shadow: none;
}
.tag-type-4.dire-left .point-and-line .line-style-9{
    position: absolute;
    width: 5px;
    z-index: 13;
    top: 32px;
    left: 15px;
    box-shadow: none;
}
.tag-type-4.dire-right .tag-style-brand{
    margin-bottom: 10px;
}
.tag-type-4.dire-right .tag-info{
    text-align: right;
}
.tag-type-4.dire-right .point-and-line{
    text-align: left;
    padding-left: 20px;
    margin-left: 5px;
}
.tag-type-4.dire-right .line-style-1{
    position: absolute;
    top: 2px;
    left: 1px;
}
.tag-type-4.dire-right .point-and-line .line-style-4{
    left: 7px;
}
.tag-type-4.dire-right .point-and-line .line-style-5{
    position: absolute;
    width: 5px;
    z-index: 9;
    top: -27px;
    left: 3px;
}
.tag-type-4.dire-right .point-and-line .line-style-6{
    position: absolute;
    width: 5px;
    z-index: 9;
    top: 32px;
    left: 3px;
}
.tag-type-4.dire-right .point-and-line .line-style-7{
    position: absolute;
    top: 2px;
    left: 1px;
    box-shadow: none;
    z-index: 12;
}
.tag-type-4.dire-right .point-and-line .line-style-8{
    position: absolute;
    width: 5px;
    z-index: 13;
    top: -27px;
    left: 3px;
    box-shadow: none;
}
.tag-type-4.dire-right .point-and-line .line-style-9{
    position: absolute;
    width: 5px;
    z-index: 13;
    top: 32px;
    left: 3px;
    box-shadow: none;
}
.tag-type-4 .tag-money{
    display: block;
    margin-bottom: 9px;
}
.tag-type-4 .buy-mothod{
    display: block;
}
.tag-type-4.dire-right .tag-info{
    position: relative;
    top: -34px;
    line-height: 18px;
}
.tag-type-4.dire-left .tag-info{
    position: relative;
    top: -38px;
    line-height: 18px;
}
.tag-type-4 .info-style-1{
    top: -6px;
}




/*动画效果*/
.tag-shining-1{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 10px;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    z-index: 14;
}
.tag-shining-2{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 10px;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    z-index: 15;
}
 .tag-shining-1{
    animation: firstShining 3.2s ease 0s infinite;
    -webkit-animation: firstShining 3.2s  ease 0s infinite;
}
@keyframes firstShining{
    0%  {opacity: 0.15;   transform: scale(1,1);}
    25% {opacity: 0;     transform: scale(4,4);}
    100% {opacity: 0;     transform: scale(1,1);}

}
@-webkit-keyframes firstShining{
    0%  {opacity: 0.15;   transform: scale(1,1);}
    25% {opacity: 0;     transform: scale(4,4);}
    100% {opacity: 0;     transform: scale(1,1);}
}
 .tag-shining-2{
    animation: secondShining 3.2s ease 0s infinite;
    -webkit-animation: secondShining 3.2s  ease 0s infinite;
}
@keyframes secondShining{
    0%  {opacity: 0.6;   transform: scale(1,1);}
    16% {opacity: 0.6;     transform: scale(1,1);}
    38% {opacity: 0;     transform: scale(4,4);}
    100% {opacity: 0;     transform: scale(4,4);}

}
@-webkit-keyframes secondShining{
    0%  {opacity: 0.6;   transform: scale(1,1);}
    16% {opacity: 0.6;     transform: scale(1,1);}
    38% {opacity: 0;     transform: scale(4,4);}
    100% {opacity: 0;     transform: scale(4,4);}
}








