/*-----css Reset-----*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
    padding: 0;
}
body,html{
    background: #fff;
}
body{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 62.5%;
    line-height: 100%;
    margin: 0px auto;
    display: none;
    -webkit-font-smoothing: antialiased;
}
img{
    border: 0px solid;
    padding: 0px;
    margin: 0px;
}
input,textarea,select{
    font-family:arial;
    font-family:inherit;
}
h4,h5,h6{
    font-size:1rem;
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}
table{
    border-left: 1px solid #d4ea1d;
    border-bottom: 1px solid #d4ea1d;
}
td{
    border-right:1px solid #d4ea1d;
    border-top: 1px solid #d4ea1d;
}
a img{
    border:0;
    text-decoration: none;
}
a{
    text-decoration: none;
}
a:visited{
    color: #1e1e1e;
    text-decoration: none;
}
/*清楚浮动*/
.clearfloat:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
}
#scale-wrapper{
    width: 375px;
    margin: 0px auto;
    font-size: 12px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}



