
html,body{
    background: #efeff0;
    -webkit-overflow-scrolling:touch;
}
#scale-wrapper{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.start-area img{
	display: block ;
	width: 100%;
}
.start-area{
	width: 300px;
	margin: 20px auto;
	overflow: hidden;
}
.prev-load-box{
	display: block;
	width: 100%;
	position: absolute;
	left: -120%;
	top: 0;
	opacity: 0;
}
.chat-area{
	padding: 15px 0;
}

.chat-box{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    vertical-align: middle;
    padding: 10px 15px;
    position: relative;
    /*-webkit-transition: all .5s;*/
    /*transition: all .5s;*/
    min-height: 36px;

}
.chat-box .txt{
    font-size: 15px;
}
.absolute-chat-box{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 15px;
}
.btn{
    display: block;
    width: 345px;
    margin-bottom: 15px;
}
.btn:last-child{
    margin-bottom: 0;
}

.btn .txt{
    display: inline-block;
    padding: 10px 15px;
    background: #ffb6c6;
    color: #fff;
    border-radius:10px 10px 0 10px;
    font-size: 15px;
}
.clicked.btn .txt{
    background: #dedede;
    color: #777;
    transition: all 1s ease .5s;
    -webkit-transition: all 1s ease .5s;
}

.chat-box>div{
	display: inline-block;
}
.chat-box .run-left{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	border-radius:10px 10px 10px 0;
	padding: 10px 15px;
	-webkit-animation:run_lf .7s ease-in-out .6s;
	animation:run_lf .7s ease-in-out .6s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	background: #fff;
	color: #ffb6c6;
}
.chat-box .run-right{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-animation:run_rg .7s ease-in-out .6s;
	animation:run_rg .7s ease-in-out .6s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.run-left img{
	display: block;
	width: 100%;
}
video{
	width: 100%;
}

@-webkit-keyframes turnCercle{
	0%{-webkit-transform:rotate(0)}
	100%{-webkit-transform:rotate(10080deg)}
}
@keyframes turnCercle{
	0%{transform:rotate(0)}
	100%{transform:rotate(10080deg)}
}
@keyframes run_lf{
	0%{transform:translateX(-100%);opacity:0}
	100%{transform:translateX(0);opacity:1}
}
@-webkit-keyframes run_lf{
	0%{transform:translateX(-100%);opacity:0}
	100%{transform:translateX(0);opacity:1}
}
@keyframes run_rg{
	0%{/*transform:translateX(100%)*/;opacity:0}
	100%{transform:translateX(0);opacity:1}
}
@-webkit-keyframes run_rg{
	0%{/*transform:translateX(100%)*/;opacity:0}
	100%{transform:translateX(0);opacity:1}
}
@keyframes loading{
	0%{opacity:0}
	100%{opacity:1}
}
@keyframes run_banner{
	0%{transform:translateX(-100%)}
	100%{transform:translateX(0)}
}
@-webkit-keyframes run_banner{
	0%{transform:translateX(-100%)}
	100%{transform:translateX(0)}
}
@keyframes share_b{
	0%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes share_b{
	0%{opacity:0}
	100%{opacity:1}
}

