/*-----css Reset end-----*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
body,html{
    background: #fff;
}
body{
    font-family: "Microsoft YaHei","微软雅黑","Arial";
    font-size: 100%;
    margin: 0px auto;
    display: none;
    -webkit-font-smoothing: antialiased;
}
img{
    border: 0px solid;
    padding: 0px;
    margin: 0px;
}
input,textarea,select{
    font-size:100%;
    font-family:arial;
    font-family:inherit;
}
/*去除chrome 默认选中样式*/
input,textarea{
    border:none;
    outline: none;
    resize:none;
}
h3,h4,h5,h6{
    font-size:1em;
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}
table{
    border-left: 1px solid #d4ea1d;
    border-bottom: 1px solid #d4ea1d;
}
td{
    border-right:1px solid #d4ea1d;
    border-top: 1px solid #d4ea1d;
}
a img{
    border:0;
    text-decoration: none;
}
p{
	margin: 0;
	padding: 0; 
}
a{
    text-decoration: none;
    color:#000;
    /*去除a标签的 手机浏览器的默认点击样式*/
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
a:visited{
	text-decoration: none;
}
/*清楚浮动*/
.clearfloat:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
}
#scale-wrapper{
	width:320px;
	margin:0 auto;
	overflow: hidden;
	font-size: 12px;
    padding-top: 46px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.img-block-full img{
	display: block;
	width: 100%;
}



/**标题部分**/
.top-title-area{
    width: 320px;
    padding: 8px 0;
    height: 30px;
    background: #f2622d;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin:auto;
    z-index: 20;
}
.middle-title {
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    text-align: center;
}
.right-function-btn{
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    position: relative;
}
.left-function-btn{
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    overflow: hidden;
}
.width40{
    width: 40px;
}
.history-back {
    background: url(../images/history_back.png) 7px center no-repeat;
    background-size: 15px auto;
}
.screen-icon{
    background: url(../images/screen_icon.png) center no-repeat;
    background-size: 23px auto;
}

/*带搜索跳转的标题*/
.middle-search-title{
    width: 220px;
    height: 30px;
    position: relative;
}
.width200{
    width: 200px;
}
.middle-search-title input{
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    color: #000;
    padding-left: 8px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.middle-search-title input{
    border:none;
    outline: none;
    resize:none;
}
.middle-search-title input::-webkit-input-placeholder {
    color: #d4d5d5;
}
.middle-search-title .search-label{
    display: block;
    width: 95%;
    height: 100%;
    border-radius: 3px;
    padding-left: 10px;
    color: #d4d5d5;
    background: url(../images/search_bg.png) 8px center no-repeat;
    background-size: 70px 15px;
    position: absolute;
    top: 0;
    left: 0;
}
