

/***** 时间动态  *****/
.timeline-message-list{

}
.timeline-message-list .timeline-message-item{
    padding: 20px 0;
    border-bottom: 1px solid #e9e9e9;
}
.timeline-message-list .user-info-box{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.timeline-message-list .user-info-box .user-info{
    display: block;
    font-size: 0;
}
.timeline-message-list .user-info-box .user-head{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    vertical-align: middle;
}
.timeline-message-list .user-info-box .user-nick{
    display: inline-block;
    font-size: 15px;
    color: #8E8E8E;
    vertical-align: middle;
    line-height: 18px;
    height: 19px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.timeline-message-list .chat-btn>span{
    font-size: 13px;
    vertical-align: middle;
}
.timeline-message-list .chat-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../images/chat_icon.png") center no-repeat;
    background-size: 100% auto;
    margin-right: 2px;
    vertical-align: middle;
}
.timeline-message-list .message-text-box{
    font-size: 15px;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 15px;
}
.message-img-box{
    font-size: 0;
    max-width: 255px;
    margin-bottom: 5px;
}
.message-img-box .img-item{
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
    margin-bottom: 5px;
}
.signal{
    margin-bottom: 10px;
}
.signal .img-item{
    display: block;
    width: 180px;
    height: 135px;
    background-position: center;
    background-size: cover;
}
.handle-message-btn-box{
    margin-bottom: 6px;
    display: flex;
    display: -webkit-flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.hanlde-item{
    font-size: 0;
    color: #9B9B9B;
}
.create-time{
    font-size: 14px;
    margin-right: 20px;
    vertical-align: middle;
}
.delete-btn{
    font-size: 14px;
    vertical-align: middle;
}
.favorite-icon{
    display: inline-block;
    width: 17px;
    height: 16px;
    background: url("../images/favorite_icon_1.png") 0 0 no-repeat;
    background-size: 34px auto;
    vertical-align: middle;
    margin-right: 25px;
}
.active.favorite-icon{
    background-position: -17px 0;
}
.comment-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/comment_icon.png") 0 0 no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
}
.comment-list-box{
    background: #F9F9F9;
    position: relative;
    margin-top: 16px;
}
.comment-list-box .arrow-top-icon{
    display:block;
    width:0;
    height:0;
    border-width: 0px 10px 10px 10px;
    border-style:solid;
    border-color:transparent transparent #F9F9F9 transparent;
    position: absolute;
    top: -9px;
    left: 17px;
}
.comment-list-box .comment-list{
    padding: 15px;
}
.comment-list-box .comment-item{
    line-height: 1.8;
    margin-bottom: 8px;
    font-size: 0;
}
.comment-list-box .comment-item:last-child{
    margin-bottom: 0;
}
.comment-list-box .comment-item .user-nick{
    color: #8E8E8E;
    vertical-align: middle;
    font-size: 14px;
}
.comment-list-box .at-icon{
    vertical-align: middle;
    font-size: 14px;
}
.comment-list-box .comment-item .comment-text{
    vertical-align: middle;
    font-size: 14px;
    margin-left: 5px;
}
.comment-list-box .check-more{
    display: inline-block;
    font-size: 14px;
    color: rgba(41,41,41,.5);
    padding: 0 15px 15px;
}


/****** 相关推荐 ******/
.card-recommend-area{
    margin: 0 auto 10px;
    padding: 30px 22px;
    background: #fff;
}
.card-recommend-area .recommend-text{
    font-size: 17px;
    color: #8E8E8E;
    line-height: 1.4;
    margin-bottom: 15px;
    font-family: 'SongTi',Arial,serif;
}
.card-recommend-area .recommend-list{
    width: 100%;
}
.card-recommend-area .recommend-item{
    width: 100%;
    margin-bottom: 20px;
}
.card-recommend-area .recommend-item .item-link{
    width: 100%;
    display: block;
    font-size: 0;
    background: #f9f9f9;
}
.card-recommend-area .recommend-item:last-child{
    margin-bottom: 0;
}
.card-recommend-area .recommend-item .item-cover-img{
    display: inline-block;
    width: 165px;
    height: 110px;
    background-size: cover;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
}
.card-recommend-area .item-cover-img .audio-icon{
    display: block;
    width: 19px;
    height: 19px;
    background: url("../images/audio_icon.png") transparent center no-repeat;
    background-size: 18px auto;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 1;

}
.card-recommend-area .item-cover-img .video-icon{
    display: block;
    width: 19px;
    height: 23px;
    background: url("../images/video_icon.png") transparent center no-repeat;
    background-size: 18px auto;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 1;

}
.card-recommend-area .item-cover-img .article-icon {
    display: block;
    width: 16px;
    height: 19px;
    background: url("../images/article_icon.png") transparent center no-repeat;
    background-size: 15px auto;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 1;
}
.card-recommend-area .recommend-item .item-info{
    width: 140px;
    padding: 12px 12px 12px 13px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.card-recommend-area .recommend-item .item-title{
    display: block;
    width: 100%;
    font-size: 17px;
    color: #000;
    font-weight: bold;
    text-align: justify;
    font-family: 'SongTi',Arial,serif;
}

.card-recommend-area .recommend-item .item-order-text{
    display: block;
    font-size: 14px;
    color: #8E8E8E;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
