.poster-box{
    width: 300px;
    margin: 10px auto;
    box-shadow: rgba(0,0,0,.4) 4px 5px 5px;
}
.poster-box img{
    display: block;
    width: 100%;
}
.tips-area{
    display: block;
    background: #fff100;
    padding: 5px;
    font-size: 14px;
    color: #000;
    position: relative;
    text-align: center;
    padding: 15px;
}