html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
}
.top-intro-area{
	width: 100%;
	height: 150px;
	background: #fff100;
}
.library-title-text{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 19px;
	color: #292929;
	padding-top: 22px;
	margin-bottom: 12px;
	font-weight: bold;
}
.book-name-text{
	display: block;
	text-align: center;
	font-size: 15px;
	color: #292929;
	margin-bottom: 13px;
}

.set-star-box{
	text-align: center;
	font-size: 15px;
	color: #292929;
}
.set-star-box .star-list{
	display: inline-block;
	font-size: 0;
	margin-right: 5px;
	vertical-align: middle;
}

.star-list .star-icon{
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../images/star_1.png) center no-repeat;
	background-size: 100% auto;
	margin-right: 4px;
}
.star-list .star-icon.active{
	background: url(../images/star_1_active.png) center no-repeat;
	background-size: 100% auto;
}
.star-text{
	vertical-align: middle;
}


.input-comment-area{
	display: block;
	width: 334px;
	margin: -15px auto 0;
	text-align: center;
	padding-bottom: 30px;
}
.input-comment{
	width: 310px;
	display: block;
	padding: 10px 10px;
	min-height: 200px;
	font-size: 15px;
	color: #292929;
	border: 1px solid #ccc;
	text-align: justify;
	margin-bottom: 20px;
}

.submit-btn{
	display: inline-block;
	font-size: 16px;
	color: #292929;
	background: #fff100;
	padding: 5px 15px;
}

.active.submit-btn{
	color: #fff;
	background: #ccc;
}

.input-wechat{
	width: 329px;
	display: block;
	font-size: 15px;
	color: #292929;
	overflow: hidden;
	text-align: left;
	font-size: 0;
	margin-bottom: 20px;
}
.input-wechat input{
	display: inline-block;
	font-size: 15px;
	padding: 10px;
	width: 220px;
	border: 1px solid #ccc;
	text-align: left;
}
.input-title{
	font-size: 15px;
	display: inline-block;
	width: 70px;
	text-align: center;
	margin-right: 15px;
}	
.input-title>span{
	vertical-align: middle;
}
.input-nick{
	width: 329px;
	display: block;
	font-size: 15px;
	color: #292929;
	margin: 0 auto 10px;
	overflow: hidden;
	font-size: 0;
	text-align: left;
}
.input-nick input{
	display: inline-block;
	font-size: 15px;
	border: 0;
	padding: 10px;
	width: 220px;
	border: 1px solid #ccc;
}
.necessary{
	color: red;
	margin-left: 5px;
}


/*上滑加载loading*/
.bottom-loading-box{
    display: none;
    width: 104px;
    height: 74px;
    background: url(../images/loading.gif) center no-repeat;
    background-size: auto 74px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 200;
}

.library-logo{
    display: block;
    width: 100%;
    height: 53px;
    background: url("../images/library_log_2.png") center no-repeat;
    background-size:  auto 100%;
    margin-bottom: 20px;
}


/******** 第二期 ***********/
.second-phase .top-intro-area{
    padding-top: 20px;
}


/******** 第三期 ***********/
.third-phase .top-intro-area{
    padding-top: 20px;
}

